extends layout

block content
    .row
        .col-md-8.col-md-offset-2
            h3 #{clip.title}
            p #{clip.description}
            p #{clip.duration} | #{clip.rating}
            p #{clip.uploader}
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src='https://www.youtube.com/embed/'+clip.uid+'?rel=0', allowfullscreen='')

            br
            each review,index in clip.reviews
                h5 #{review.title} #{review.stars}
                p #{review.review}
                if index+1 != clip.reviews.length
                    hr
